:root {
    --black: #222;
    --gray: #555;
    --light-gray: #777;
    --white: #fff;

    --font-sm: 0.8rem;
    --font-md: 1rem;
    --font-lg: 1.4rem;
    --font-xl: 2rem;
}

.title {
    text-align: center;
    font-size: var(--font-xl);
    margin: 20px 0;
    color: var(--black);
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}

.card__image {
    display: block;
    width: 100%;
    height: 28rem;
    object-fit: cover;
}

.card__content {
    padding: 15px;
}

.card__title {
    margin-bottom: 10px;
    font-size: var(--font-large);
    color: var(--black);
}

.card__subtitle {
    font-size: var(--font-sm);
    color: var(--light-gray);
    display: block;
    margin-bottom: 10px;
}

.card__director {
    font-size: var(--font-medium);
    margin-bottom: 10px;
}

.card__description {
    font-size: var(--font-sm);
    color: var(--gray);
    line-height: 1.4;
}

.link {
    display: block;
    text-align: center;
}
