*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:1rem;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 50%;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 8px;
    text-align: left;
}

#tablaContainer {
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 70%;
    min-width: 10em;
    max-width: 20em;
}
